*{
    box-sizing: border-box;

}

body {
    background-color: #ABDCFD;
}
.column{
    margin: 0 auto;
    width: 95%;
    /*box-sizing: border-box;*/


}
.row{
    width: 33.33%;
    float: left;
    border: solid black 1px;
    text-align: center;
    background-color: lightgrey;
    /*box-sizing: border-box;*/

}
.container{
    background-color: #ABDCFD;
}

#map-canvas {
    width: 85%;
    height: 481px;
    background-color: red;
    margin: 50px;

}

